<div class="profile-container mt-3">
  <div class="profile-head-container">
    <div class="profile text-center">
          <%= image_tag "http://res.cloudinary.com/dmnzqtckp/image/upload/v1646940912/xxqphqz5rbbrvtuc2pbm.jpg", class: "profile-picture" %>
    </div>
    <div class="profile-head-container-right">
      <h2 class="text-center mt-3">Hello <%= @user.nickname %></h2>
      <div class="d-flex align-center h-40">
         Level : <strong> <%= @user.level %></strong>
        <!-- Button trigger modal -->
        <div>
          <div class="cursor" data-toggle="modal" data-target="#Modallevel">
            <i class="fas fa-pencil-alt"></i>
          </div>
        </div>
        <!-- Modal -->
        <%= render 'shared/profile_level'%>
      </div>
    </div>
  </div>
  <hr>
  <div class="profile-body-container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Planned sessions (<%= @surf_sessions.count %>)</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Favorites (<%= current_user.favorite_spots.count %>)</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
    <%# -------- PLANNED SESSIONS ---------- %>
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div class="card card-body mb-2">
            <% @surf_sessions.each do |session| %>
            <% @session = session %>
            <% surf_condition_id = session.surf_condition_id %>
            <% session_spot = SurfCondition.find(surf_condition_id).surf_spot %>
            <%= render 'shared/card_surf_session', surf_spot: session_spot, user: @user%>
            <% end %>
          </div>
      </div>
    <%# ------------ FAVORITES SPOTS --------- %>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="card card-body">
          <% @favorite_spots.each do |fav| %>
            <%= render 'shared/card_spot_profile_bis', surf_spot: fav.surf_spot, user: @user, fav: fav %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
