<div class="profile-container mt-3">
  <div class="profile-head-container">
    <div class="profile text-center">
          <%= image_tag "http://res.cloudinary.com/dmnzqtckp/image/upload/v1646940912/xxqphqz5rbbrvtuc2pbm.jpg", class: "profile-picture" %>
    </div>
    <div class="profile-head-container-right">
      <h1 class="text-center mt-3">Hello <%= @user.nickname %></h1>
      <div class="d-flex justify-content-around">
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fas fa-envelope-square"></i>
        <i class="fas fa-phone-square"></i>
      </div>
      <div class="d-flex align-center h-40">
         Level : <strong> <%= @user.level %></strong>
        <!-- Button trigger modal -->
        <div>
          <div class="cursor" data-toggle="modal" data-target="#Modallevel">
            <i class="fas fa-pencil-alt"></i>
          </div>
        </div>
        <!-- Modal -->
        <%= render 'shared/profile_level'%>
      </div>
    </div>
  </div>
  <hr>
  <div class="profile-body-container">

    <%# ----------MY BOOKINGS----------- %>
    <div class="profile-booking-container">
      <div class="down">
        <p  data-toggle="collapse" href="#collapseBooking" role="button" aria-expanded="true" aria-controls="collapseExample">
          My Bookings
        </p>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="collapse show" id="collapseBooking">
        <div class="card card-body">
          <% @surf_sessions.each do |session| %>
            <% @session = session %>
            <% surf_condition_id = session.surf_condition_id %>
            <% session_spot = SurfCondition.find(surf_condition_id).surf_spot %>
            <%= render 'shared/card_surf_session', surf_spot: session_spot, user: @user%>
          <% end %>
        </div>
      </div>
    </div>
    <%# ----------FAVORITE SPOTS----------- %>
    <div class="profile-favorite-container">
      <div class="down">
        <p  data-toggle="collapse" href="#collapseFavorite" role="button" aria-expanded="true" aria-controls="collapseExample">
          My Favorites Spots
        </p>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="collapse" id="collapseFavorite">
        <div class="card card-body">
          <% @favorite_spots.each do |fav| %>
            <%= render 'shared/card_spot_profile_bis', surf_spot: fav.surf_spot, user: @user, fav: fav %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
