<div class="mt-3 container-without-navbar">
  <div class="profile text-center">
        <%= image_tag "http://res.cloudinary.com/dmnzqtckp/image/upload/v1646940912/xxqphqz5rbbrvtuc2pbm.jpg", class: "profile-picture" %>
  </div>
  <h1 class="text-center mt-3"><%= @user.nickname %></h1>
  <p class="text-center"> <strong><%= @user.level %></strong></p>
  <div class="text-center">
    <%= form_tag profile_path , method: :get do %>
      <%= select_tag :level,
        options_for_select(["Beginner", "Intermediate", "Expert"],@user.level)
      %>
      <button name="button" type="submit">Save</button>
    <% end %>
  </div>
  <hr>
  <div class="profile-container">

    <%# ----------MY BOOKINGS----------- %>
    <div class="profile-booking-container">
      <p  data-toggle="collapse" href="#collapseBooking" role="button" aria-expanded="true" aria-controls="collapseExample">
        My Bookings
      </p>
      <div class="collapse" id="collapseBooking">
        <div class="card card-body">
          <%# CONTENT %>
        </div>
      </div>
    </div>
    <%# ----------FAVORITE SPOTS----------- %>
    <div class="profile-favorite-container">
      <p  data-toggle="collapse" href="#collapseFavorite" role="button" aria-expanded="true" aria-controls="collapseExample">
        My Favorites Spots
      </p>
      <div class="collapse" id="collapseFavorite">
        <div class="card card-body">
          <% @favorite_spots.each do |fav| %>
            <%= render 'shared/card_spot_profile_bis', surf_spot: fav.surf_spot, user: @user, fav: fav %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
