        <%= link_to surf_spot_path(surf_spot) do%>
        <div class="spot-card-slider">
          <img class="spot-card-img-slider" src="https://res.cloudinary.com/dmnzqtckp/image/upload/v1646163664/picto_uutzcc.jpg" alt="Spot">
            <div class="spot-card-slider-details">
              <h2><%= surf_spot.location %></h2>
              <div class="slider-conditions">
                <p><%=icon('fas','wind')%><%= surf_spot.surf_conditions[0].wind_speed %>kts</p>
                <p><%=icon('fas','water')%><%= surf_spot.surf_conditions[0].wave.ceil(2) %>m</p>
                <p><%=icon('fas','location-arrow')%><%= surf_spot.surf_conditions[0].wind_direction %></p>
              </div>
              <div class="slider-level-card">
                <p><%= surf_spot.surf_conditions[0].level %></p>
                <div class="slider-spot-rating">
                  <p><%= surf_spot.surf_conditions[0].rating/2 %>⭐<p>
                </div>
              </div>
            </div>
        </div>
      <%end %>

