<%= link_to surf_spot_path(surf_spot) do%>
  <div class="spot-card d-flex">
    <div>
      <img class="spot-card-img" src="https://api.navily.com/media/AGxLeNtHRsD2SpKfa40DAAN7sC7pCtotaZyLTHQrcAkJSZeXEG1e6Npvkcq1YL9l?w=128&crop_square=true" alt="Spot">
    </div>
<<<<<<< HEAD

    <div class="spot__item__details favorite">
        <div class="spot__item__details__box">
            <div class="spot__item__details__img">
                <img src="assets/img/water-solid.svg" alt="water-icon">
            </div>
            <p>1.5 m</p>
        </div>

        <div class="spot__item__details__box">
            <div class="spot__item__details__img">
                <img src="assets/img/wind-solid.svg" alt="wind-icon">
            </div>
            <p>3.0</p>
        </div>

        <div class="spot__item__details__box">
            <div class="spot__item__details__img">
                <img src="assets/img/temperature.svg" alt="temperature-icon">
            </div>
            <p>25.0</p>
        </div>
        <div>



        <div data-controller="favorite">
        <%# <div> class="test" data-favorite-target='favoriteBtn' data-action="click->favorite#toggle" %>
        <% if user.favorite_spots.pluck(:surf_spot_id).include?(surf_spot.id) %>
            <%= link_to icon('fas','bookmark') , surf_spot_favorite_path(surf_spot), remote: true, class: "test fav" , data: { favorite_target: 'favoriteBtn', action: "click->favorite#toggle" } %>
        <% else %>
            <%= link_to icon('fas','bookmark'), surf_spot_favorite_path(surf_spot), remote: true, class: "test" , data: { favorite_target: 'favoriteBtn', action: "click->favorite#toggle" } %>
        <% end %>



=======
    <div class="spot-card-details">
      <h2 class="spot-card-h2"><%= surf_spot.location %></h2>
      <p><%=icon('fas','star')%>(<%= surf_spot.spot_reviews.length %> comments)</p>
>>>>>>> 2cd63b42d751fc2829c396d2f3d8963b678bdd80
    </div>
  </div>
<% end %>
