<div class="container top">
  <div class="text-center">
    <img src="/assets/logo_surf_buddy_light.png" alt="Surf buddy" class="logo mt-5 mb-5">
  </div>

  <div class="title-custom">
    <h1 class="h1-title">The easiest way to surf</h1>
    <p class="p-title">Find the best surf spots around you according to your level</p>
  </div>

  <div class="mx-auto search-module card shadow-card md-rounded">
    <%= render 'shared/search_bar' %>
  </div>
</div>

<div class="container">
  <h2 class="h2-title text-center m-4">
    Surfbuddy latest spots
  </h2>

<div class="hp-cards ">
<% @surf_spots_last.each do |spot| %>
  <div class="hp-card">
    <p class="hp-card-img" ><%= cl_image_tag(spot.photos.first.key, class: 'hp-card--img', crop: :fill) %></p>
    <h3><%= spot.location %></h3>
    <div class="test container row">
        <% @ftags_filtred = @ftags.where(favorite_spot_id: spot.favorite_spots) %>
        <% @ftags_filtred.each do |tag|%>
            <p class="card-tags"><%= tag.tag.name %></p>
        <% end %>
    </div>
    <div class="test">
    <p class="hp-card-level"><%= spot.surf_conditions[0].level %></p>
    </div>
  </div>
<% end %>
</div>



<section class="container container-large mosaic my-5">
    <div class="text-center mb-5">
        <h2 class="mb-2 text-xl text-weight-700">Surfbuddy peoples...</h2>
    </div>
    <div class="mosaic-pictures">
        <div class="card featured-col md-rounded">
            <picture>
                <source srcset="https://cdn.radiofrance.fr/s3/cruiser-production/2021/08/696b8bea-3893-4a18-b549-515a4c641d93/838_gettyimages-982747408.jpg" type="image/jpg">
                <img src="ihttps://cdn.radiofrance.fr/s3/cruiser-production/2021/08/696b8bea-3893-4a18-b549-515a4c641d93/838_gettyimages-982747408.jpg" loading="lazy" alt="" class="card-img">
            </picture>
        </div>

        <div class="card long-card md-rounded">
            <picture>
                <source srcset="https://www.nomads-surfing.com/wp-content/uploads/2020/07/lookbook-evo.jpg" type="image/jpg">
                <img src="https://www.nomads-surfing.com/wp-content/uploads/2020/07/lookbook-evo.jpg" loading="lazy" alt="" class="card-img">
            </picture>
        </div>

        <div class="p-3 card deep-blue-card d-flex flex-column-reverse justify-content-center align-items-center md-rounded">
            <div class="md-icon">
                <img src="https://i.goopics.net/8geyyv.png" loading="lazy" alt="" class="w-100">
            </div>
            <span class="text-lg text-center text-white text-weight-700">+<%= @surf_sessions %></span>
            <p class="text-center text-white text-weight-700 text-md-plus">Sessions</p>
        </div>

        <div class="card featured-col md-rounded">
            <picture>
                <source srcset="https://static1.terrafemina.com/articles/0/35/02/40/@/520616-le-surf-peut-etre-une-forme-de-therapie-953x0-2.jpg" type="image/jpg">
                <img src="https://static1.terrafemina.com/articles/0/35/02/40/@/520616-le-surf-peut-etre-une-forme-de-therapie-953x0-2.jpg" loading="lazy" alt="" class="card-img">
            </picture>
        </div>

        <div class="p-3 card deep-blue-card d-flex flex-column-reverse justify-content-center align-items-center featured-col md-rounded">
            <div class="md-icon">
                <img src="https://i.goopics.net/ueqpjj.png" loading="lazy" alt="Icone mouillage" class="w-100">
            </div>
            <span class="text-lg text-center text-white text-weight-700">+<%= @surf_spots %></span>
            <p class="text-center text-white text-weight-700 text-md-plus">Surf spots</p>
        </div>

        <div class="card featured-col md-rounded">
            <picture>
                <source srcset="https://www.costarica-voyage.com/wp-content/uploads/adobestock-247729715-1280x800.jpeg" type="image/jpg">
                <img src="https://www.costarica-voyage.com/wp-content/uploads/adobestock-247729715-1280x800.jpeg" loading="lazy" alt="" class="card-img">
            </picture>
        </div>

        <div class="p-3 card deep-blue-card d-flex flex-column-reverse justify-content-center align-items-center md-rounded">
            <div class="md-icon">
                <img src="https://i.goopics.net/r13jx8.png" loading="lazy" alt="" class="w-100">
            </div>
            <span class="text-lg text-center text-white text-weight-700">+<%= @users %></span>
            <p class="text-center text-white text-weight-700 text-md-plus">Users</p>
        </div>

    </div>
</section>
