<ul class="nav nav-pills schedules d-flew justify-content-around">
  <% surf_spot.surf_conditions.each_with_index do |surf_condition,index| %>
    <% if index == 0 %>
      <li><a class="active schedule" data-toggle="tab" href="#slot<%=index%>"><%= l surf_condition.start_hour.in_time_zone('Paris'), format: "%Hh"%></a></li>
    <% else %>
      <li><a class="schedule" data-toggle="tab" aria-current="page" href="#slot<%=index%>"><%= l surf_condition.start_hour.in_time_zone('Paris'), format: "%Hh"%></a></li>
    <%end%>
  <%end%>
</ul>
<div class="tab-content">
  <% surf_spot.surf_conditions.each_with_index do |surf_condition,index| %>
    <% if index == 0 %>
    <div id="slot<%=index%>" class="tab-pane fade in active show">
    <% else %>
    <div id="slot<%=index%>" class="tab-pane fade">
    <% end %>
      <div class="surf-condition-card d-flex flex-row justify-content-between align-self-start">
        <div class="d-flex flex-column justify-content-around">
          <p class="text-center"><%=icon('fas','wind')%><%= surf_condition.wind_speed %>kts</p>
          <p class="text-center"><%=icon('fas','water')%><%= surf_condition.wave.ceil(2) %>m</p>
          <p class="text-center"><%=icon('fas','location-arrow')%><%= surf_condition.wind_direction %></p>
        </div>
        <div class="d-flex flex-column justify-content-around align-items-center ">
          <% if surf_condition.level == "Beginner"%>   
          <p class=" level-spot green mr-2 text-center">Level: <strong><%= surf_condition.level %> </strong></p>
          <% elsif surf_condition.level == "Intermediate"%>
          <p class=" level-spot orange mr-2 text-center">Level: <strong><%= surf_condition.level %> </strong></p>
          <% else %>
          <p class=" level-spot red mr-2 text-center">Level: <strong><%= surf_condition.level %> </strong></p>
          <%end%>
          <p class="text-center level d-flex align-items-center justify-content-center"><strong><%= surf_condition.rating %>/10</strong></p>
        </div>
      </div>
    </div>
  <%end%>
</div>
  