<div class="stat-container">
  <%# --------HOURS --------- %>
  <div>
    <ul class="nav sliderr radius-10">
      <% surf_spot.surf_conditions.each_with_index do |surf_condition,index| %>
        <% if index == 0 %>
          <% if surf_condition.level == "Beginner" %>
          <li><a class="active schedule green" data-toggle="tab" aria-current="page" href="#slot<%=index%>"><%= surf_condition.start_hour.strftime("%b,%d")  %><br><%= l surf_condition.start_hour.in_time_zone('Paris'), format: "%I%P"%></a></li>
          <% elsif surf_condition.level == "Intermediate" %>
          <li><a class="active schedule orange" data-toggle="tab" aria-current="page" href="#slot<%=index%>"><%= surf_condition.start_hour.strftime("%b,%d")  %><br><%= l surf_condition.start_hour.in_time_zone('Paris'), format: "%I%P"%></a></li>
          <% elsif surf_condition.level == "Expert" %>
          <li><a class="active schedule red" data-toggle="tab" aria-current="page" href="#slot<%=index%>"><%= surf_condition.start_hour.strftime("%b,%d")  %><br><%= l surf_condition.start_hour.in_time_zone('Paris'), format: "%I%P"%></a></li>
          <%end %>
        <% else %>
          <% if surf_condition.level == "Beginner" %>
          <li><a class="schedule green" data-toggle="tab" aria-current="page" href="#slot<%=index%>"><%= surf_condition.start_hour.strftime("%b,%d")  %><br><%= l surf_condition.start_hour.in_time_zone('Paris'), format: "%I%P"%></a></li>
          <% elsif surf_condition.level == "Intermediate" %>
          <li><a class="schedule orange" data-toggle="tab" aria-current="page" href="#slot<%=index%>"><%= surf_condition.start_hour.strftime("%b,%d")  %><br><%= l surf_condition.start_hour.in_time_zone('Paris'), format: "%I%P"%></a></li>
          <% elsif surf_condition.level == "Expert" %>
          <li><a class="schedule red" data-toggle="tab" aria-current="page" href="#slot<%=index%>"><%= surf_condition.start_hour.strftime("%b,%d")  %><br><%= l surf_condition.start_hour.in_time_zone('Paris'), format: "%I%P"%></a></li>
          <%end %>
        <%end%>
      <%end%>
    </ul>
  </div>
  <div class="tab-content">
    <% surf_spot.surf_conditions.each_with_index do |surf_condition,index| %>
      <% if index == 0 %>
      <div id="slot<%=index%>" class="tab-pane fade in active show">
      <% else %>
      <div id="slot<%=index%>" class="tab-pane fade">
      <% end %>
        <div class="surf-condition-card">
          <div class="d-flex justify-content-left">
            <p class="text-center mr-4"><%=icon('fas','wind')%> <%= surf_condition.wind_speed %> kts</p>
            <p class="text-center mr-4"><%=icon('fas','location-arrow')%> <%= surf_condition.wind_direction %></p>
            <p class="text-center mr-4"><%=icon('fas','water')%> <%= surf_condition.wave.ceil(2) %> m</p>
          </div>
          <%# --------LEVEL --------- %>
              <div class="button-light mb-3">
                <%= surf_condition.level %> | <span> <%=(surf_condition.rating/2) %> 🤙 </span>
              </div>
          <div><%= link_to 'Plan this surf session', surf_spot_surf_sessions_path(surf_spot,user_session: current_user.id, surf_cond: surf_condition.id), method: :post, class: "button button-large" %></div>
        </div>

      </div>
    <%end%>
  </div>
</div>
