<div class="search-bar-absolute">
  <%= render 'shared/search_bar_index' %>
</div>

<div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="card-absolute">
  <% if @surf_spots.count { |spot| spot } == 1 %>
    <% @surf_spots.each do |spot| %>
      <div class="item item-solo">
        <%= render 'shared/card_spot_bis', surf_spot: spot, user: current_user %>
      </div>
    <% end %>
  <% else %>
    <div id="owl-carousel" class="owl-carousel owl-theme">
      <% @surf_spots.each do |spot| %>
        <div class="item">
          <%= render 'shared/card_spot_bis', surf_spot: spot, user: current_user %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
