<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "All spots", surf_spots_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Spot : <%= @surf_spot.location %></li>
  </ol>
</nav>

<div class="container">
  <div class="surf_spot_title">
    <%# -----------FAVORIS----------------- %>
    <%= render 'shared/favorite', surf_spot: @surf_spot %>
    <h1 class="text-center"><%= @surf_spot.location %></h1>

    <p class="text-center">
<%# ---------AVERAGE RATING------------- %>
      <% @average_rating.to_i.times do %>
        <%= icon('fas','star') %>
      <%end%>
      <% if @average_rating >= (@average_rating.to_i + 0.25) && @average_rating <= (@average_rating.to_i + 0.75)%>
        <%= icon('fas','star-half-alt')%>
        <i class="fa-regular fa-star-half-stroke"></i>
      <% elsif @average_rating < (@average_rating.to_i + 0.25) %>
        <%= icon('far','star')%>
      <% else %>
        <%= icon('fas','star')%>
      <%end%>
      <% (5 - @average_rating.to_i - 1).times do %>
        <%= icon('far','star')%>
      <%end%>
<%# -----------COMMENTS----------------- %>
    <a href="#comments" >(<%= @surf_spot.spot_reviews.length %> comments)</a>
    </p>
    <p class="localisation text-center" ><%= icon('fas','location-arrow')%> <%= @surf_spot.latitude %>, <%= @surf_spot.longitude %></p>
  </div>
<%# -----------IMAGES----------------- %>
<div class="card-offer-detail-carousel">
    <div id="carouselExampleIndicators" class="carousel slide text-center" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @surf_spot.photos.count.times do |i| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class="<%= i == 0 ? 'active' : '' %>"></li>
        <% end %>
      </ol>

      <div class="carousel-inner">
        <% @surf_spot.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
            <%= cl_image_tag(photo.key, class: 'carousel-imagetag carousel-img', crop: :fill) %>
          </div>
        <% end %>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
<hr>
<h2>Informations about the spot</h2>
<p><%= @surf_spot.description %></p>
<hr>
<%# -----------API----------------- %>
<h2 class="text-center">Our score of this spot</h2>

  <div class="d-flex justify-content-around">
    <p class="picto"><%=icon('fas','wind')%></p>
    <p class="picto"><%=icon('fas','water')%></p>
    <p class="picto"><%=icon('fas','location-arrow')%></p>
  </div>
<hr>
<h2 id="comments">Reviews (<%= @surf_spot.spot_reviews.length %>)</h2>
<% if @surf_spot.spot_reviews.exists? %>

  <% @surf_spot.spot_reviews.each do |review| %>
    <div class="review">
      <div class="review-header">
        <%#= cl_image_tag(review.user.photo.key, crop: :fill, :gravity => :face, class: "avatar-bordered")%>
        <div class="review-img">
          <img class="avatar-bordered" src="https://a0.muscache.com/defaults/user_pic-225x225.png?im_w=240">
        </div>
        <div>
          <h3><%= review.user.nickname %></h3>
          <p><%= review.updated_at.strftime("%d %b %Y") %></p>
        </div>
      </div>
      <div class="review-content">
        <p class="review-comment">
          <%review.rating.times do %>
            <%= icon('fas','star')%>
          <%end%>
          <%(5 - review.rating).times do %>
            <%= icon('far','star')%>
          <%end%>
        </p>
        <p class="review-comment">
          <%=icon('fa','quote-left')%> <%= review.comment%> <%=icon('fa','quote-right')%>
        </p>
      </div>
    </div>
  <%end%>
  <% else %>
    <p>They are no comments and rating</p>
  <% end %>
</div>

<div class="text-center">

</div>

<%# <%= link_to new_surf_spot_spot_review_path(@surf_spot) do %>
<div class="text-center">
  <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#exampleModal">
    <%=icon('fa','plus')%> Add a review
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'shared/review_spot', surf_spot: @surf_spot %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
