<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "All spots", surf_spots_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Spot : <%= @surf_spot.location %></li>
  </ol>
</nav>

<div class="container">
  <div class="surf_spot_title">
    <h1 class="text-center"><%= @surf_spot.location %></h1>
    <p class="text-center"><%=icon('fas','star')%>(<%= @surf_spot.spot_reviews.length %> comments)</p>
    <p class="localisation text-center" ><%= @surf_spot.latitude %>, <%= @surf_spot.longitude %></p>
  </div>
<hr>
<h2>Informations about the spot</h2>
<p><%= @surf_spot.description %></p>
<hr>
<h2>Reviews</h2>
<% if @surf_spot.spot_reviews.exists? %>

  <% @surf_spot.spot_reviews.each do |review| %>
    <div class="review">
      <div class="review-header">
        <%#= cl_image_tag(review.user.photo.key, crop: :fill, :gravity => :face, class: "avatar-bordered")%>
        <div class="review-img">
          <img class="avatar-bordered" src="https://a0.muscache.com/defaults/user_pic-225x225.png?im_w=240">
        </div>
        <div>
          <h3><%= review.user.nickname %></h3>
          <p><%= review.updated_at.strftime("%d %b %Y") %></p>
        </div>
      </div>
      <div class="review-content">
        <p class="review-comment"> <%review.rating.times do %>
          <%= icon('fas','star')%><%end%>
        </p>
        <p class="review-comment">
          <%=icon('fa','quote-left')%> <%= review.comment%> <%=icon('fa','quote-right')%>
        </p>
      </div>
    </div>
  <%end%>

  <% else %>
  <p>They are no comments and rating</p>

  <% end %>
</div>
