<div class="container-without-navbar show-container">
  <div class="show-header">
    <div class="nav-absolute-left">
      <%= link_to surf_spots_path do %>
        <div class="nav-i-back">
          <%= icon('fa','angle-left') %>
        </div>
      <% end %>
    </div>

    <div class="nav-absolute-right nav-i-header">
      <%= render 'shared/favorite', surf_spot: @surf_spot %>
    </div>
  </div>

  <%# -----------IMAGES----------------- %>
  <div class="card-offer-detail-carousel">
    <div id="carouselExampleIndicators" class="carousel slide text-center" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @surf_spot.photos.count.times do |i| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class="<%= i == 0 ? 'active' : '' %>"></li>
        <% end %>
      </ol>

      <div class="carousel-inner">
        <% @surf_spot.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
            <%= cl_image_tag(photo.key, class: 'carousel-imagetag carousel-img', crop: :fill) %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="surf_spot_title container mb-3">
    <h1 class="mt-3">
      <%= @surf_spot.location %>
    </h1>
    <p><%= @surf_spot.description %></p>
    <div class="tags-container-show">
      <% @ftags_filtred = FavoriteSpotTag.where(favorite_spot_id: @surf_spot.favorite_spots) %>
      <% @ftags_filtred.each do |tag| %>
      <span class="card-tags">
        <%= tag.tag.name %>
      </span>
      <% end %>
    </div>
          <%# -----------API----------------- %>
    <div class="surf_spot_conditions">
      <%= render 'surf_conditions', surf_spot: @surf_spot %>
    </div>
  </div>


</div>
  <p class="text-center">
  <%# -----------REVIEWS----------------- %>
  <div class="reviews-container">
    <div>
      <% if @surf_spot.spot_reviews.exists? %>

        <% @surf_spot.spot_reviews.each do |review| %>
          <div class="review-card d-flex">
              <div class="review-img">
                <img class="avatar-bordered review-photo" src="https://a0.muscache.com/defaults/user_pic-225x225.png?im_w=240">
              </div>
              <div class="w-100">
                <div class="review-header d-flex justify-content-between">
                  <%#= cl_image_tag(review.user.photo.key, crop: :fill, :gravity => :face, class: "avatar-bordered")%>
                    <h3><%= review.user.nickname %></h3>
                    <p><%= review.updated_at.strftime("%d %b %Y") %></p>
                </div>
                <div class="review-content">
                  <p class="review-comment">
                    <%= review.comment%>
                  </p>
                  <p class="review-comment">
                    <%review.rating.times do %>
                      <%= icon('fas','star')%>
                    <%end%>
                    <%(5 - review.rating).times do %>
                      <%= icon('far','star')%>
                    <%end%>
                  </p>
                </div>
              </div>
          </div>
        <%end%>
      <% else %>
        <p>They are no comments and rating</p>
      <% end %>
    </div>
    <!-- Button trigger modal -->
    <div class="text-center mt-4">
      <div type="button" class="btn button-custom mb-2" data-toggle="modal" data-target="#Modalreview">
        <%=icon('fa','plus')%> Add a review
      </div>
    </div>
    <!-- Modal -->
    <%= render 'shared/review_spot', surf_spot: @surf_spot %>
  </div>
</div>

